<div class="container">
  <div class="inner-container">
    <div class="header-col">
      <div class="text">East Port</div>
    </div>

    <div class="port-col">
      <div class="port-number-row">
        <div class="number-container" *ngFor="let row of this.first_row">
          <div class="number-block" *ngFor="let number of row">{{ number }}</div>
        </div>
      </div>
      <div class="port-container-row">
        <div class="port-container" *ngFor="let row of this.first_row">
          <div id="{{ port }}" class="available-port" [ngClass]="isSelectedPort(port)" *ngFor="let port of row" [matTooltip]="pushEastDesc(port)" matTooltipPosition="above" (click)="selectPort($event)"></div>
        </div>
      </div>
    </div>

    <div class="port-col">
      <div class="port-number-row">
        <div class="number-container" *ngFor="let row of this.second_row">
          <div class="number-block" *ngFor="let number of row">{{ number }}</div>
        </div>
      </div>
      <div class="port-container-row">
        <div class="port-container" *ngFor="let row of this.second_row">
          <div id="{{ port }}" class="available-port" [ngClass]="isSelectedPort(port)" *ngFor="let port of row" [matTooltip]="pushEastDesc(port)" matTooltipPosition="above" (click)="selectPort($event)"></div>
        </div>
      </div>
    </div>

    <div class="port-col">
      <div class="port-number-row">
        <div class="number-container" *ngFor="let row of this.third_row">
          <div class="number-block" *ngFor="let number of row">{{ number }}</div>
        </div>
      </div>
      <div class="port-container-row">
        <div class="port-container" *ngFor="let row of this.third_row">
          <div id="{{ port }}" class="available-port" [ngClass]="isSelectedPort(port)" *ngFor="let port of row" [matTooltip]="pushEastDesc(port)" matTooltipPosition="above" (click)="selectPort($event)"></div>
        </div>
      </div>
    </div>
  </div>
</div>