<div class="warpper">
    <div class="container">
      
      <div class="header">
        <div class="text">System Health</div>
      </div>
  
      <div class="body">
        <div class="col-one">
  
          <div class="sub-col-one">
            <div class="row-one">
              <div class="sub-row-one-col-one">
                <div class="text">Temperature</div>
              </div>
              <div class="sub-row-one-col-two">
                <div class="container">
                  <div class="text">35 &#8451; / 95 &#8457;</div>
                </div>
              </div>
            </div>
            <div class="row-two">
              <div class="sub-row-one-col-one">
                <div class="text">Humidity</div>
              </div>
              <div class="sub-row-one-col-two">
                <div class="container">
                  <div class="text">30%</div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="sub-col-two">
            <div class="row-one">
              <div class="sub-row-one-col-one">
                <div class="text">Dust (PM10)</div>
              </div>
              <div class="sub-row-one-col-two">
                <div class="container">
                  <div class="text">120 ug/m3</div>
                </div>
              </div>
            </div>
            <div class="row-two">
              <div class="sub-row-one-col-one">
                <div class="text">Power Supply</div>
              </div>
              <div class="sub-row-one-col-two">
                <div class="container">
                  <div class="text">Active</div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
  
        <div class="col-two">
          <div class="sub-row">
            <div class="text">Alarm Log</div>
          </div>    
        </div>
  
        <!-- TODO TABLE -->
        <div class="col-three"></div>
      </div>
  
    </div>
  </div>