<div class="warpper">
  <div class="container">
    <div class="col-one">
      <div class="text">Appliance</div>
    </div>
    <div class="col-two">
      <div class="sub-col-one">
        <div class="sub-row-one">
          <div class="button">
            <div class="text">Reboot</div>
          </div>
        </div>
        <div class="sub-row-two">
          <div class="text">Reboot the appliance</div>
        </div>
      </div>
      <div class="sub-col-two"></div>
      <div class="sub-col-three"></div>
    </div>
  </div>
</div>