<div class="warpper">

  <div class="col-one">
    <div class="row-one">
      <div class="row-one-col-one">
        <div class="text">Menu: Port Configuration</div>
      </div>
      <div class="row-one-col-two">
        <div class="text">XSOS-288</div>
      </div>
    </div>
  </div>

  <div class="col-two">
    <div class="sub-col-one">
      <div class="container">
        <app-east-port-configuration></app-east-port-configuration>
      </div>
    </div>
    <div class="sub-col-two">
      <div class="container">
        <app-west-port-configuration></app-west-port-configuration>
      </div>
    </div>
  </div>

  <div class="col-three">
      <div class="sub-row-one">
        <div class="container">
          <app-east-port-description-table></app-east-port-description-table>
        </div>
      </div>

      <div class="sub-row-two">
        <div class="container">
          <app-west-port-description-table></app-west-port-description-table>
        </div>
      </div>
  </div>

</div>