<div class="warpper">
  <div class="container">

    <div class="col-one">
      <div class="row-one">
        <div class="row-one-col-one">
          <div class="text">Menu: Maintenance</div>
        </div>
        <div class="row-one-col-two">
          <div class="text">XSOS-288</div>
        </div>
      </div>
    </div>

    <div class="col-two">
      <div class="container">
        <div class="row-one">
          <app-maintenance-appliance></app-maintenance-appliance>
        </div>
        <div class="row-two"></div>
      </div>
    </div>

  </div>
</div>