<div class="warpper">

  <div class="container">
    <div class="table">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="west_port">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> West Port </th>
          <td mat-cell *matCellDef="let element"> {{ element.west_port }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="west_desc">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Port Description </th>
          <td mat-cell *matCellDef="let element"> {{ element.west_desc }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>


    <div class="footer">
      <div class="row-one">
        <mat-form-field class="styled-form-field">
          <input type="number" matInput value="{{ this.selected_west_port }}" [(ngModel)]="selected_west_port" (ngModelChange)="changeSelectedWestPort()"/>
          <mat-placeholder class="placeholder">Port number</mat-placeholder>
        </mat-form-field>
      </div>

      <div class="row-two">
        <mat-form-field class="styled-form-field">
          <input type="text" matInput value="{{ this.selected_west_port_desc }}" [(ngModel)]="selected_west_port_desc" (ngModelChange)="changeSelectedWestPortDesc()">
          <mat-placeholder class="placeholder">Description</mat-placeholder>
        </mat-form-field>
      </div>

      <div class="row-three">
        <button mat-raised-button>Update</button>
      </div>
    </div>
  </div>

</div>