<div class="warpper">

  <div class="col-one">
    <div class="row-one">
      <div class="row-one-col-one">
        <div class="text">Menu: System Configuration</div>
      </div>
      <div class="row-one-col-two">
        <div class="text">XSOS-288</div>
      </div>
    </div>
  </div>

  <div class="col-two">
    <div class="container">
      <div class="row-one">
        <app-system-cpu-usage></app-system-cpu-usage>
      </div>

      <div class="row-two">
        <app-system-memory-usage></app-system-memory-usage>
      </div>

      <div class="row-three">
        <app-system-disk-usage></app-system-disk-usage>
      </div>
    </div>
  </div>

  <div class="col-three">
    <div class="container">
      <app-temperature-chart></app-temperature-chart>
    </div>
  </div>

  <div class="col-four">
    <div class="container">
      <app-humidity-chart></app-humidity-chart>
    </div>
  </div>

</div>