<div class="warpper">
  <div class="container">

    <div class="header">
      <div class="text">Email Setting</div>
      <div class="icon-container">
      </div>
    </div>

    <div class="body">

      <div class="body-table">
        <div class="body-table-row-one">
          <div class="btable-col-one-row">
            <div class="text">
              User Name:
            </div>
          </div>
          <div class="btable-col-two-row">
            <mat-form-field class="example-full-width">
              <input matInput value="System_Alert@xenoptics.com">
            </mat-form-field>
          </div>
          <div class="btable-col-one-row">
            <div class="text">
              Host Name:
            </div>
          </div>
          <div class="btable-col-two-row">
            <mat-form-field class="example-full-width">
              <input matInput value="smtp.xenoptics.com">
            </mat-form-field>
          </div>
        </div>

        <div class="body-table-row-one">
          <div class="btable-col-one-row">
            <div class="text">
              Password:
            </div>
          </div>
          <div class="btable-col-two-row">
            <mat-form-field class="example-full-width">
              <input type="password" matInput value="********">
            </mat-form-field>
          </div>

          <div class="btable-col-one-row">
            <div class="text">
              SMTP Port:
            </div>
          </div>
          <div class="btable-col-two-row">
            <mat-form-field class="example-full-width">
              <input matInput value="465">
            </mat-form-field>
          </div>
        </div>

        <div class="body-table-row-one">
          <div class="btable-col-one-row">
            <div class="text">
              Email Form Address:
            </div>
          </div>
          <div class="btable-col-two-row">
            <mat-form-field class="example-full-width">
              <input matInput value="System_Alert@xenoptics.com">
            </mat-form-field>
          </div>
        </div>

        <div class="body-menu">
          <div class="button-container">
            <button mat-raised-button>
              <div class="text">Save</div>
            </button>

            <button mat-raised-button>
              <div class="text">Clear</div>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>