.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 12vw;
  // width: 175px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);  
}

.mat-toolbar-single-row {
  height: 40px;
}

.mat-list-item {
  font-size: 12px;
  font-size: 0.8vw;
  mat-icon {
    font-size: 20px;
    font-size: 1.39vw;    
  }
}
.mat-list-item:hover {
  border-right: 5px solid #d50000;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.icon-spacer {
  margin-right: 10%;
}

.selected-menu {
  color: #d50000;
  border-right: 5px solid #d50000;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.menu-list-item {
  width: 100%;
  height: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-bottom: 1px solid #dddedf;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  .text {
    padding-left: 15.5px;
    font-size: 13px;
    font-size: 1vw;
    // font-weight: 500;
  }
}

.company-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  .company-logo {
    max-width: 95%;
    max-height: 95%;
    margin-top: auto;
  }
}

.styled-mat-toolbar {
  background: #fff;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c1c1c1;
}

::-webkit-scrollbar-track {
  background-color: #F5F5F5;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

mat-toolbar {
  .robot-mode-container {
    display: flex;
    flex-direction: row;
    width: 15%;
    height: 100%;
    align-items: center;
    justify-content: center;
    .row-one {
      display: flex;
      align-items: center;
      width: auto;
      height: 100%;
      margin-right: 10px;
      .text {
        font-size: 14px;
        cursor: default;
      }
    }
    .row-two {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10%;
      height: 100%;
      margin-right: auto;
      mat-icon {
        color: #fff;
        cursor: default;
      }
    }
  }
  .container {
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 100%;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    .row-one {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20%;
      height: 100%;
      margin-left: auto;
      mat-icon {
        color: #fff;
        cursor: default;
      }
    }
    .row-two {
      display: flex;
      align-items: center;
      width: 40%;
      height: 100%;
      .text {
        font-size: 14px;
        cursor: pointer;
      }
      
    }
    .row-three {
      display: flex;
      align-items: center;
      width: 20%;
      height: 100%;
      margin-right: auto;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;         /* Opera/IE 8+ */
      .text {
        font-size: 14px;
        cursor: pointer;
      }
      .text:hover {
        border-bottom: solid 2px #fff;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
      }
    }
  }
  ::ng-deep .mat-menu-item{
    font-size: 13px;
  }

  .test {
    font-size: 13px;
  }
}
