<div class="warpper">

  <div class="col-one">

    <div class="row-one">
      <div class="row-one-col-one">
        <div class="text">{{ connection_queue_page['head_page']['menu'] }}</div>
      </div>
      <div class="row-one-col-two">
        <div class="text">{{ connection_queue_page['head_page']['robot_name'] }}</div>
      </div>
    </div>

    <div class="row-three">
      <div class="container">
        <div class="sub-container">

          <div class="container-row-one">
            <div class="row-header-col-one">
              <div class="inner-container">
                <div class="text">{{ connection_queue_page['status_tab']['humidity'] }}</div>
              </div>
            </div>
            <div class="row-header-col-two">
              <div class="text">50%</div>
            </div>
          </div>

          <div class="container-row-two">
            <div class="icon-container">
              <mat-icon>ac_unit</mat-icon>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row-two">
      <div class="container">
        <div class="sub-container">

          <div class="container-row-one">
            <div class="row-header-col-one">
              <div class="inner-container">
                <div class="text">{{ connection_queue_page['status_tab']['temperature'] }}</div>
              </div>
            </div>
            <div class="row-header-col-two">
              <div class="text">35 ℃</div>
            </div>
            <div class="row-header-col-three">
              <div class="text">95 ℉</div>
            </div>
          </div>

          <div class="container-row-two">
            <div class="icon-container">
              <mat-icon>whatshot</mat-icon>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row-four">
      <div class="container">
        <div class="sub-container">

          <div class="container-row-one">
            <div class="row-header-col-one">
              <div class="inner-container">
                <div class="text" *ngIf="this.completion !== undefined && this.completion === 100">{{ connection_queue_page['status_tab']['progress_complete'] }}</div>
                <div class="text" *ngIf="this.completion !== undefined && this.completion !== 100 && this.action_type === 'connect'">{{ connection_queue_page['status_tab']['progress_connect'] }}</div>
                <div class="text" *ngIf="this.completion !== undefined && this.completion !== 100 && this.action_type === 'disconnect'">{{ connection_queue_page['status_tab']['progress_disconnect'] }}</div>
              </div>
            </div>
            <div class="row-header-col-two">
              <div class="text" *ngIf="this.completion !== undefined">{{ this.completion }}%</div>
            </div>
          </div>

          <div class="container-row-two">
            <div class="icon-container">
              <mat-icon *ngIf="this.completion === 100 || this.completion === undefined">settings_input_component</mat-icon>
              <div *ngIf="this.completion !== undefined && this.completion !== 100" class="spinner-container">
                <mat-spinner class="spinner" [diameter]="45"></mat-spinner>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row-five">
      <div class="container">
        <div class="sub-container">

          <div class="container-row-one">
            <div class="row-header-col-one">
              <div class="inner-container">
                <div class="text">{{ connection_queue_page['status_tab']['timing'] }}</div>
              </div>
            </div>
            <div class="row-header-col-two">
              <div class="text" *ngIf="this.completion_time !== null && this.completion_time !== undefined">{{ this.completion_time }} sec</div>
            </div>
          </div>

          <div class="container-row-two">
            <div class="icon-container">
              <mat-icon>access_alarm</mat-icon>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="col-two">
    <div class="sub-col-one">
      <div class="container">
        <app-queue-east-port></app-queue-east-port>
      </div>
    </div>
    <div class="sub-col-two">
      <div class="container">
        <app-queue-west-port></app-queue-west-port>
      </div>
    </div>
  </div>

  <div class="col-three">
    <app-queue-panel></app-queue-panel>
  </div>

  <div class="col-four">
    <div class="header">
      <div class="text">{{ connection_queue_page['table']['approve_queue_table'] }}</div>
    </div>
    <div class="container">
      <app-queue-approve-table></app-queue-approve-table>
    </div>
  </div>

  <div class="col-five">
    <div class="header">
      <div class="text">{{ connection_queue_page['table']['request_queue_table'] }}</div>
    </div>
    <div class="container">
      <app-queue-table></app-queue-table>
    </div>
  </div>

</div>