<div class="warpper">
  <div class="container">

    <div class="header">
      <div class="text">SNMP v3 Users</div>
      <div class="icon-container">
        <mat-icon [matTooltip]="icon_info" matTooltipPosition="above">info</mat-icon>
      </div>
    </div>

    <div class="body">
      <div class="body-menu">

        <div class="menu-list-item-container">
          <div class="list-item-icon">
            <mat-icon>add</mat-icon>
          </div>

          <div class="list-item-text">
            <div class="text">New</div>
          </div>
        </div>

        <div class="menu-list-item-container">
          <div class="list-item-icon">
            <mat-icon>edit</mat-icon>
          </div>

          <div class="list-item-text">
            <div class="text">Edit</div>
          </div>
        </div>

        <div class="menu-list-item-container">
          <div class="list-item-icon">
            <mat-icon>clear</mat-icon>
          </div>

          <div class="list-item-text">
            <div class="text">Delete</div>
          </div>

        </div>
      </div>

      <div class="body-table">

        <div class="body-table-header">
          <div class="row-one">
            <div class="text">User Name</div>
          </div>
          <div class="row-two">
            <div class="text">Security Level</div>
          </div>
        </div>

        <div class="body-table-body">
          <div class="body-table-body-row">
            <div class="text">No v3 users defined. Add SNMP v3 User</div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>