<div class="warpper">
  <div class="container">

    <div class="header">
      <div class="text">System Summary</div>
    </div>

    <div class="body">
      <div class="row-one">
        <div class="container">
          <div class="col-header">
            <div class="text">System Information</div>
          </div>
          <div class="col-body">
            <div class="col-body-row-one">
              <div class="text">System Description:</div>
            </div>
            <div class="col-body-row-two">
              <div class="text">Model XSOS-288</div>
            </div>
          </div>
          <div class="col-body">
            <div class="col-body-row-one">
              <div class="text">System Location:</div>
            </div>
            <div class="col-body-row-two">
              <div class="text">XENOptics, Chiang Mai</div>
            </div>
          </div>
          <div class="col-body">
            <div class="col-body-row-one">
              <div class="text">Host Name:</div>
            </div>
            <div class="col-body-row-two">
              <div class="text">XSOS-288</div>
            </div>
          </div>
          <div class="col-body">
            <div class="col-body-row-one">
              <div class="text">System Uptime:</div>
            </div>
            <div class="col-body-row-two">
              <div class="text">2 hr(s), 45 min(s)</div>
            </div>
          </div>
          <div class="col-body">
            <div class="col-body-row-one">
              <div class="text">Current Time:</div>
            </div>
            <div class="col-body-row-two">
              <div class="text">Apr 06 2018 GMT+07 (SE Asia Standard Time)</div>
            </div>
          </div>
          <div class="col-body">
            <div class="col-body-row-one">
              <div class="text">IP Adress:</div>
            </div>
            <div class="col-body-row-two">
              <div class="text">192.168.60.76</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row-two">
        <div class="container">
          <div class="col-header">
            <div class="text">Software Information</div>
          </div>
          <div class="col-body">
            <div class="col-body-row-one">
              <div class="text">Firmware Version:</div>
            </div>
            <div class="col-body-row-two">
              <div class="text">1.2.1</div>
            </div>
          </div>
          <div class="col-body">
            <div class="col-body-row-one">
              <div class="text">Boot Version:</div>
            </div>
            <div class="col-body-row-two">
              <div class="text">1.2.1</div>
            </div>
          </div>
          <div class="col-body">
            <div class="col-body-row-one">
              <div class="text">Local:</div>
            </div>
            <div class="col-body-row-two">
              <div class="text">en-US</div>
            </div>
          </div>
          <div class="col-body">
            <div class="col-body-row-one">
              <div class="text"></div>
            </div>
            <div class="col-body-row-two">
              <div class="text"></div>
            </div>
          </div>
          <div class="col-body">
            <div class="col-body-row-one">
              <div class="text"></div>
            </div>
            <div class="col-body-row-two">
              <div class="text"></div>
            </div>
          </div>
          <div class="col-body">
            <div class="col-body-row-one">
              <div class="text"></div>
            </div>
            <div class="col-body-row-two">
              <div class="text"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row-three">
        <div class="container">

          <div class="col-header">
            <div class="text">Service Information</div>
          </div>

          <div class="col-body">
            <div class="col-body-row-one">
              <div class="sub-row-one">
                <div class="text">HTTP Service:</div>
              </div>
              <div class="sub-row-two">
                <div class="available-status"></div>
                <div class="text">Active</div>
              </div>
            </div>
            <div class="col-body-row-two">
              <div class="sub-row-one">
                <div class="text">HTTPS Service:</div>
              </div>
              <div class="sub-row-two">
                <div class="available-status"></div>
                <div class="text">Active</div>
              </div>
            </div>
          </div>

          <div class="col-body">
            <div class="col-body-row-one">
              <div class="sub-row-one">
                <div class="text">SNMP Service:</div>
              </div>
              <div class="sub-row-two">
                <div class="available-status"></div>
                <div class="text">Active</div>
              </div>
            </div>
            <div class="col-body-row-two">
              <div class="sub-row-one">
                <div class="text">SSH Service:</div>
              </div>
              <div class="sub-row-two">
                <div class="available-status"></div>
                <div class="text">Active</div>
              </div>
            </div>
          </div>

          <div class="col-body">
            <div class="col-body-row-one">
              <div class="sub-row-one">
                <div class="text">Telnet Service:</div>
              </div>
              <div class="sub-row-two">
                <div class="available-status"></div>
                <div class="text">Active</div>
              </div>
            </div>
            <div class="col-body-row-two">
              <div class="sub-row-one">
                <div class="text">NTP Service:</div>
              </div>
              <div class="sub-row-two">
                <div class="available-status"></div>
                <div class="text">Active</div>
              </div>
            </div>
          </div>

          <div class="col-body">
            <div class="col-body-row-one">
              <div class="sub-row-one">
                <div class="text">Radius Service:</div>
              </div>
              <div class="sub-row-two">
                <div class="available-status"></div>
                <div class="text">Active</div>
              </div>
            </div>
            <div class="col-body-row-two">
              <div class="sub-row-one">
                <div class="text">Syslog Service:</div>
              </div>
              <div class="sub-row-two">
                <div class="available-status"></div>
                <div class="text">Active</div>
              </div>
            </div>
          </div>

          <div class="col-body"></div>
          <div class="col-body"></div>

        </div>
      </div>

    </div>

    <div class="footer">
      <div class="container">
        <div class="text">Serial Number: TNT199367AK5</div>
      </div>
      <div class="container">
        <div class="text">PID VID: SFX2018AC D02</div>
      </div>
    </div>

  </div>
</div>